{
  "arrowParens": "always",
  "bracketSpacing": false,
  "printWidth": 150,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
